<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878356637984-rgms0kbi89n5sci25bfokfa264d4g91s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878356637984-rgms0kbi89n5sci25bfokfa264d4g91s</string>
	<key>API_KEY</key>
	<string>AIzaSyDyF67hCuIIcny20hH82kN4B-ml931tP2c</string>
	<key>GCM_SENDER_ID</key>
	<string>878356637984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.forgroundServicePoc</string>
	<key>PROJECT_ID</key>
	<string>forgroundservicepoc</string>
	<key>STORAGE_BUCKET</key>
	<string>forgroundservicepoc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878356637984:ios:7cb97f6c8e182b521f0f45</string>
	<key>DATABASE_URL</key>
	<string>https://forgroundservicepoc-default-rtdb.firebaseio.com</string>
</dict>
</plist>